.slider{
    display: relative;
}

.slider img{
    display: none;

}


.slider img.active{
    display: inline-block;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.cursor{
    cursor: pointer;
}

#slider-dot{
    background-color: #000;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}
#slider-dot .dot{
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
}
#slider-dot .dot.active{
    background-color: #448888;
}

.mx-2{
    margin: 0 20px;
}

.bg-c-g{
    background-color: #cfcfcf;
}

.bg-c-g:hover{
    background-color: #adadad;
}

.img-resize{
    height: 500px;
    width: 100%;
}